.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addTarea{
    width: 79%;
    height: 30px;
    border: 2px solid blue;
    border-radius: 8px 0px 0px 8px;
    border-right: none;
    outline: none;
}

input[type="submit"]{
    border-radius: 0px 8px 8px 0px;
    border: 2px solid blue;
    /* border-left: none; */
    height: 36px;
}

.container-items{
    width: 90%;
    height: 25px;
    background-color: #eee;
    text-align: center;
    margin:1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-radius: 3px;
    border-left: 5px solid rgb(66, 182, 66) ;
    
}
input[type="radio"]{
    justify-self: start;
}