.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addTarea{
    width: 79%;
    height: 30px;
    border: 2px solid blue;
    border-radius: 8px 0px 0px 8px;
    border-right: none;
    outline: none;
}

input[type="submit"]{
    border-radius: 0px 8px 8px 0px;
    border: 2px solid blue;
    /* border-left: none; */
    height: 36px;
    background-color: blue;
    color: white;
    cursor:pointer;
}

.container-items{
    width: 90%;
    height: 25px;/*lo tenia como 25*/
    background-color: #e4ebf6;
    text-align: center;
    margin:1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-radius: 3px;
    border-left: 5px solid #8f9efa;
    color:#4d5eac;
    
}
input[type="radio"]{
    justify-self: start;
}
header ul a{
    text-decoration: none;
    color: inherit;
}
header ul a:hover{
    color: #595f84;
    border-bottom: 2px solid #4d5eac;
    /* transition: border-bottom 0.5s; */
}